div.stButton > button {
    /*background-color: rgb(204, 49, 49);*/
    display: flex;
    justify-content: center;
    /*margin: 1rem;*/
    margin-left: 13rem;
    margin-top: 2rem;

}

body {
    color: #262730;
    background-color: #f5f5f5;
}

.css-pxxe24 {
visibility: hidden;
}