div.stButton > button {
    /*background-color: rgb(204, 49, 49);*/
    display: flex;
    justify-content: center;
    /*margin: 1rem;*/
    margin-left: 7.6rem;
    margin-top: 1.7rem;
    width: 15rem;
    font-size: 100px;
    border-radius: 5px;
    cursor: pointer;

}

body {
    color: #262730;
    background-color: #f5f5f5;
}

